<!DOCTYPE html>
<html>
<head>
  <title>RailsMetrics: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'rails_metrics' %>
</head>
<body>
  <h1>RailsMetrics</h1>
  <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
  <%= yield %>
</body>
</html>
